<link rel="stylesheet" href="/assets/users/edit.css">
<div class="wrapper">
  <div class="wrapper-container">
    <p class="intro-title">自己紹介を編集する</p>
    <div class="intro-form">
      <%= form_with(model: @user, local: true) do |f| %>
        <p class="intro-field">自己紹介文</p>
        <%= f.text_area :self_introduction, id: "limitedTextarea", rows: "4", cols: "50", value: @user.self_introduction %>
        <p>50文字以上、200文字未満で入力してください</p>
          <div class = "preview-flex">
            <p class="image-field">アバター画像</p>
            <div class = "preview-image">
              <div id="post_images"><p id="preview"></p>
              </div>
            </div>
          </div>

        <%= f.label :image, "画像ファイルを添付する", class: "custom-file-input" %>
        <%= f.file_field :image, class: "image-form", onchange: "loadImage(this)"; %>

        <%= f.submit "自己紹介を確定する", class: "blue login-margin", "data-turbo": "false" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  const textarea = document.getElementById('limitedTextarea');
  const maxLength = 200;

  textarea.addEventListener('input', function() {
    if (textarea.value.length > maxLength) {
      textarea.value = textarea.value.slice(0, maxLength);
    }
  });
</script>

<script>
  function loadImage(obj)
  {
    var allPreview = document.getElementById('post_images');
    var newPreview = document.createElement("p");
    allPreview.querySelector("p").remove();
    newPreview.setAttribute("id","preview");
    allPreview.insertBefore(newPreview, allPreview.firstChild);
    document.getElementById("post_images").style.display = "";
    for (i = 0; i < obj.files.length; i++) {
        var fileReader = new FileReader();
        fileReader.onload = (function (e) {
            var img = new Image();
            img.src = e.target.result;
            document.getElementById('preview').appendChild(img);
        });
      fileReader.readAsDataURL(obj.files[i]);
    }
  }
</script>