<div class="index-container">
  <div class="index-content">
<% if current_user.image.attached? %>
  <%= image_tag current_user.image, size: "360x360", class: "img-profile" %>
<% else %>
  <%= image_tag "default_avatar.png", size: "360x360", class: "img-profile" %>
<% end %>

    <div class="index-except-image">
      <h3>自己紹介</h3>
        <div class="index-intro">
          <%= current_user.self_introduction %>
        </div>

      <%= button_to("自己紹介を編集する", edit_user_path(current_user), method: :get, class: "blue introedit", "data-turbo": "false" ) %>

      <h4>スキルチャート</h4>
      <%= button_to("スキルを編集する", skills_path(current_user), method: :get, class: "blue skill", "data-turbo": "false" ) %>
    </div>
  </div>
  <div class="chart-flex">
    <canvas id="myChart" class = "chart"></canvas>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart');
var dataMax = Math.max(
    <%= @current_month_data_be %>,
    <%= @current_month_data_fe %>,
    <%= @current_month_data_inf %>
);
var maxScaleValue = Math.max(100, dataMax + 20); // 100を超えた場合は20追加する例

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['先々月', '先月', '今月'],
        datasets: [
            {
                label: 'バックエンド',
                data: [<%= @two_months_ago_data_be %>, <%= @one_month_ago_data_be %>, <%= @current_month_data_be %>],
                backgroundColor: 'rgba(255,182,193)',
                borderColor: 'rgba(255,182,193)',
                borderWidth: 1
            },
            {
                label: 'フロントエンド',
                data: [<%= @two_months_ago_data_fe %>,<%= @one_month_ago_data_fe %> , <%= @current_month_data_fe %>],
                backgroundColor: 'rgba(255,228,181)',
                borderColor: 'rgba(255,228,181)',
                borderWidth: 1
            },
            {
                label: 'インフラ',
                data: [<%= @two_months_ago_data_inf %>, <%= @one_month_ago_data_inf %>, <%= @current_month_data_inf %>],
                backgroundColor: 'rgba(255,250,205)',
                borderColor: 'rgba(255,250,205  )',
                borderWidth: 1
            }
        ]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Chart.js Bar Chart'
            }
        },
        scales: {
            y: {
                min: 0,
                max: maxScaleValue, // 動的に計算された最大値を設定
                stepSize: 5
            }
        }
    }
});
</script>


</script>
