<div class="index-container">
  <div class="index-content">
<% if current_user.image.attached? %>
  <%= image_tag current_user.image, size: "360x360", class: "img-profile" %>
<% else %>
  <%= image_tag "default_avatar.png", size: "360x360", class: "img-profile" %>
<% end %>

    <div class="index-except-image">
      <h3>自己紹介</h3>
        <div class="index-intro">
          <%= current_user.self_introduction %>
        </div>

      <%= button_to("自己紹介を編集する", edit_user_path(current_user), method: :get, class: "blue introedit", "data-turbo": "false" ) %>

      <h4>スキルチャート</h4>
      <%= button_to("スキルを編集する", skills_path(current_user), method: :get, class: "blue skill", "data-turbo": "false" ) %>
    </div>
  </div>
  <div class="chart-flex">
    <canvas id="myChart" class = "chart"></canvas>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['先々月', '先月', '今月'],
        datasets: [
            {
                label: 'バックエンド',
                data: [10,10,<%= @be_level %>],
                backgroundColor: 'rgba(255,182,193)',
                borderColor: 'rgba(255,182,193)',
                borderWidth: 1
            },
            {
                label: 'フロントエンド',
                data: [10, 10, <%= @fe_level %>],
                backgroundColor: 'rgba(255,228,181)',
                borderColor: 'rgba(255,228,181)',
                borderWidth: 1
            },
            {
                label: 'インフラ',
                data: [10, 10, <%= @inf_level %>],
                backgroundColor: 'rgba(255,250,205)',
                borderColor: 'rgba(255,250,205  )',
                borderWidth: 1
            }
        ]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Chart.js Bar Chart'
            }
        },
        scales: {
            y: {
                min: 0,
                max: 100,
                stepSize: 10
            }
        }
    }
});

</script>
